<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Order Confirmation</title>
<style type="text/css">
body {
	font:Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
img {
	display: block;
}
a img {
	border: 0;
}
@media (max-width: 600px) {
  img {
  display: none !important;
  }
  }
</style>
</head>
<body style="font: Arial, Helvetica, sans-serif;margin: 0;padding: 0;">
<!-- Version 1 -->
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
  <tr>
	<td colspan="3"><img style="display:block;" src="http://footlockerfridge.com/wp-content/uploads/2016/03/ff-email-header.jpg" width="800" height="267" alt="Footlocker Fridge"></td>
  </tr>
  <tr>
	<td valign="top"><img style="display:block;" src="http://footlockerfridge.com/wp-content/uploads/2016/03/ff-email-left.jpg" width="97" alt=""></td>
    <td valign="top">
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
  		<tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; padding:20px 0px; letter-spacing:0.05em;">
          Dear Soldier,
          <br><br>
          Your Footlocker Fridge Order #{{order_number}} has now been shipped.
        </td>
        </tr>
        <tr>
        	<td style="font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight: bold; padding:18px 0px;background-color: black; color: white; text-transform: uppercase;padding-left: 38px; letter-spacing: 0.05em; letter-spacing:0.05em;">
            It is being shipped to the following address:
            </td>
        </tr>
        <tr>
        	<td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; padding:18px 0px;background-color: #f6f6f6; color: black; padding-left: 38px; letter-spacing: 0.05em;">
            {% if requires_shipping %}
            {{ shipping_address.name }}<br>
            {{ shipping_address.street }}<br>
            {{ shipping_address.city }}, {{ shipping_address.province }}  {{ shipping_address.zip }}<br>
            {{ shipping_address.country }}{% endif %}
            <br><br>
            </td>
        </tr>
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight: bold; padding:40px 0px; letter-spacing:0.05em;">
          	Thank you for ordering from XMC Branded Products bringing you the Footlocker Fridge.
          </td>
        </tr>
      </table>
    </td>
    <td valign="top" width="100"></td>
  </tr>
  <tr>
	<td colspan="3"><img style="display:block;" src="http://footlockerfridge.com/wp-content/uploads/2016/03/ff-email-footer.jpg" width="800" height="267" alt=""></td>
  </tr>
</table>

</body>
</html>